h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body {
  background-color: bisque;
  background-size: cover;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding-block: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 4;

}

.header {
  padding-inline: 16px;
  top: 45px;
  max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  padding-inline: 16px;
  border-radius: 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-list {
  display: flex;
  gap: 36px;
  margin-inline: auto;
}

.navbar {
  display: contents;
  text-align: right;
  margin-right: 100px;
}


a {
  text-decoration: none;
  padding: 0 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  transition: transform 0.3s ease;
}

a:hover {
  transform: translateY(-5px);
}

main {
  padding: 0 20px;
}

.shape-container {
  position: relative;
  height: 450px;
  width: 450px;
}

.avatar {
  width: 100%;
  height: 100%;
  mask-image: url("../images/blob.svg");
  overflow: hidden;
  object-fit: cover;
  mask-repeat: no-repeat;
}

.popup {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.Julia {
  display: flex;
  margin: 200px 100px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.content-container {
  width: 300px;
  margin-left: 250px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-container button {
  height: 50px;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid hotpink;
  color: hotpink;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.btn-container button:hover {
  background-color: hotpink;
  color: white;
  transform: translateY(-5px);
}

#container1 {
  display: flex;
  justify-content: space-between;
}

#section1 {
  height: auto;
}

.progress-container {
  position: relative;
  width: 1200px;
  height: 20px;
  padding-left: 150px;
  margin-top: 30px;
}

.progress-fill {
  height: inherit;
}

.progress {
  background-color: whitesmoke;
  height: 6px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 10px;
}

.text-right {
  float: right;
}

.col-4 {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
}

#collumn {
  width: 200px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.horizontal-line {
  border-top: 1px solid #7b7979;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-container .btn-SeeAll {
  width: 200px;
  margin-top: 50px;
}

section {
  margin: 0 150px 0 150px;
}

#wrap-text {
  padding: 100px 10px 25px 50px;
}

#wrap-text2 {
  padding: 50px 50px 0px;
}


.wrap {
  margin-top: 18px;
  margin-bottom: 18px;
}

.contract {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  gap: 90px;
  padding: 40px 70px 40px 40px;
}

#submit {
  width: 50%;
  font-size: 18px;
}

input {
  width: 40%;
  padding: 15px 18px;
  border-radius: 7px;
  margin-block-end: 10px;
  border: none;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  margin-right: 300px;
  width: 100%;
  height: 100px;
  padding: 18px;
  margin-block: 10px;
}

footer {
  width: 1000px;
  padding-block: 40px;
  display: flex;
  gap: 36px;
  margin-inline: auto;
  justify-content: space-between;
}